# Django
DJANGO_SECRET_KEY=django_secret_key
DJANGO_DEBUG=true
DJANGO_ENV=development # development or production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,testserver
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DJANGO_LOG_LEVEL=INFO

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres

# GitHub
GITHUB_TOKEN=token
# use lowercase username, e.g. paulo1402
GITHUB_REPOSITORY_OWNER=owner

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=false
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=Portfolio Website <noreply@localhost>
CONTACT_EMAIL=
