{% extends 'global/pages/base.html' %}

{% block main %}
    <div class="container">
        {% for certification in certifications %}
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">{{ certification.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ certification.institution }} |
                        <small class="text-muted">
                            {{ certification.start_date | date:"F Y" }} -
                            {% if certification.end_date %}
                                {{ certification.end_date | date:"F Y" }}
                            {% else %}
                                Atual
                            {% endif %}
                        </small>
                    </h6>

                    {% if certification.description %}
                        <div class="certification-description">
                            {{ certification.description | linebreaksbr }}
                        </div>
                    {% endif %}

                    {% if certification.url %}
                        <a href="{{ certification.url }}" target="_blank" class="card-link btn btn-primary">
                            Exibir certificação
                        </a>
                    {% endif %}
                </div>

                {% if certification.topics.count %}
                    <div class="card-footer">
                        {% for topic in certification.topics.all %}
                            <span class="badge rounded-pill text-bg-success">{{ topic.name }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
