{% extends 'global/pages/base.html' %}
{% load i18n %}

{% block main %}
    <script>
        function handleEmailClick(e) {
            const el = e.target
            const email = el.dataset.email
            const copiedText = "{% translate "Email copied!" %}"
            const copyLabel = "{% translate "Copy email" %} <i class='bi bi-clipboard'></i>"

            window.navigator.clipboard.writeText(email);
            el.innerText = copiedText

            setTimeout(() => {
                el.innerHTML = copyLabel
            }, 1500)
        }
    </script>

    <div class="container">
        {% if email or linkedin.url or github.url %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% if email %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{% translate "Email" %}</h5>
                                <p class="card-text">{{ email }}</p>
                                <a role="button"
                                   data-email="{{ email }}"
                                   onclick="handleEmailClick(event)"
                                   class="btn btn-primary">{% translate "Copy email" %} <i class="bi bi-clipboard"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if linkedin.url %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{% translate "LinkedIn" %}</h5>
                                <p class="card-text">{{ linkedin.username }}</p>
                                <a href="{{ linkedin.url }}"
                                   class="btn btn-primary"
                                   target="_blank">{% translate "Open LinkedIn" %} <i class="bi bi-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if github.url %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{% translate "GitHub" %}</h5>
                                <p class="card-text">{{ github.username }}</p>
                                <a href="{{ github.url }}"
                                   class="btn btn-primary"
                                   target="_blank">{% translate "Open GitHub" %} <i class="bi bi-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <h3 class="mt-5 text-center">
            {% translate "Contact form" %}
        </h3>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags|default:"info" }} mt-3" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'contact_message' %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
                {{ form.name }}
            </div>

            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label for="{{ form.message.id_for_label }}" class="form-label">{{ form.message.label }}</label>
                {{ form.message }}
            </div>

            <button type="submit" class="btn btn-primary">{% translate "Send" %}</button>
        </form>
    </div>
{% endblock %}
