{% extends 'global/pages/base.html' %}

{% block main %}
    <div class="container">
        {% for formation_ in formation %}
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">{{ formation_.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ formation_.institution }} |
                        <small class="text-muted">
                            {{ formation_.start_date | date:"F Y" }} -
                            {% if formation_.end_date %}
                                {{ formation_.end_date | date:"F Y" }}
                            {% else %}
                                Atual
                            {% endif %}
                        </small>
                    </h6>

                    {% if formation_.description %}
                        <div class="formation-description">
                            {{ formation_.description | linebreaksbr }}
                        </div>
                    {% endif %}

                    {% if formation_.topics.count %}
                        <div class="card-footer pb-0">
                            {% for topic in formation_.topics.all %}
                                <span class="badge rounded-pill text-bg-success">{{ topic.name }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}