{% extends 'global/pages/base.html' %}
{% load static %}

{% block main %}
    <div class="container">
        {% if profile.picture %}
            <img src="{{ profile.picture.url }}"
                 class="img-fluid rounded-circle mb-5" alt="Foto de perfil"
                 style="width: 200px; height: 200px; margin: 0 auto; display: block;"
            />
        {% endif %}

        <blockquote class="blockquote text-center mb-5">
            <p>Beautiful is better than ugly. Explicit is better than implicit. Simple is better than
                complex. [...]
            </p>
            <footer class="blockquote-footer">Zen of Python</footer>
        </blockquote>

        <p class="text-center">
            {{ profile.description | linebreaksbr }}
        </p>
    </div>

    <div>
        <h2 class="text-center my-5">Habilidades</h2>

        <div class="container">
            <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                {% for area, skills in skills_by_area.items %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="card-title m-2">
                                    {{ area.name }}
                                </h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% for skill in skills %}
                                        <li class="list-group-item">{{ skill.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}