{% extends 'global/pages/base.html' %}

{% block main %}
    <div class="container">
        <h1 class="text-center mt-5">Sobre mim</h1>

        <blockquote class="blockquote text-center m-5">
            <p>Beautiful is better than ugly. Explicit is better than implicit. Simple is better than
                complex. [...]
            </p>
            <footer class="blockquote-footer">Zen of Python</footer>
        </blockquote>

        <p class="text-center">
            Apaixonado por tecnologia e principalmente pela linguagem Python, estou sempre em busca por aprender cada
            vez mais, sempre respeitando as boas práticas e buscando escrever um código limpo, escalável e de fácil
            manutenção.
        </p>

        <p class="text-center">
            Sou um estusiasta na programação e já experimentei diversas tecnologias, mas dentre elas acabei me apegando
            no desenvolvimento web fullstack com ênfase no backend usando Python e Django com frameworks como Django
            Rest Framework e Django Ninja para construções de APIs. No frontend trabalho com TypeScript usando
            principalmente React ou Vue para construção da interface.
        </p>
    </div>

    <div>
        <h2 class="text-center mt-5">Tecnologias</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Python</h5>
                            <p class="card-text">Linguagem de programação de alto nível, interpretada e de script com
                                tipagem dinâmica.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Django</h5>
                            <p class="card-text">Framework web de alto nível escrito em Python que incentiva o
                                desenvolvimento rápido e limpo.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nodejs</h5>
                            <p class="card-text">
                                Node.js é um ambiente de execução JavaScript assíncrono e orientado a eventos.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">React</h5>
                            <p class="card-text">
                                Uma biblioteca JavaScript para criar interfaces de usuário.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}