{% extends 'global/pages/base.html' %}



{% block main %}
    <script>
        // Resize all images in the carousel to the largest height
        document.addEventListener('DOMContentLoaded', function () {
            const projectImages = document.querySelectorAll('.carousel-item img')
            let largestHeight = 0

            projectImages.forEach(image => {
                if (image.height > largestHeight) {
                    largestHeight = image.height
                }
            })

            projectImages.forEach(image => {
                image.style.height = `${largestHeight}px`
            })
        })
    </script>

    <div class="container">
        {% for project in projects %}
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {% if project.company %}
                            {{ project.company }} |
                        {% endif %}
                        <small class="text-muted">
                            {{ project.start_date | date:"F Y" }} -
                            {% if project.end_date %}
                                {{ project.end_date | date:"F Y" }}
                            {% else %}
                                Atual
                            {% endif %}
                        </small>
                    </h6>

                    {% if project.description %}
                        <div class="project-description">
                            {{ project.description | linebreaksbr }}
                        </div>
                    {% endif %}

                    {% if project.project_images %}
                        <div id="carousel-{{ project.id }}" class="carousel slide mt-3">
                            <div class="carousel-indicators">
                                {% for project_image in project.project_images.all %}
                                    <button type="button"
                                            data-bs-target="#carousel-{{ project.id }}"
                                            data-bs-slide-to="{{ forloop.counter0 }}"
                                            {% if forloop.first %}class="active"{% endif %}></button>
                                {% endfor %}
                            </div>

                            <div class="carousel-inner">
                                {% for project_image in project.project_images.all %}
                                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                        <img src="{{ project_image.image.url }}"
                                             class="d-block w-100"
                                             alt="{{ project.title }}{{ forloop.counter }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carousel-{{ project.id }}"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carousel-{{ project.id }}"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Próxima</span>
                            </button>
                        </div>
                    {% endif %}

                    {% if project.github_url %}
                        <a href="{{ project.github_url }}" target="_blank" class="btn btn-primary mt-3">Ver repositório
                            <i class="bi bi-github"></i>
                        </a>
                    {% endif %}
                </div>

                {% if project.topics.count %}
                    <div class="card-footer">
                        {% for topic in project.topics.all %}
                            <span class="badge rounded-pill text-bg-success">{{ topic.name }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        {#        <nav aria-label="Projects pagination" class="mt-4">#}
        {#            <ul class="pagination">#}
        {#                <li class="page-item"><a class="page-link" href="#">Anterior</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">Próxima</a></li>#}
        {#            </ul>#}
        {#        </nav>#}
    </div>
{% endblock %}